@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<div class="my-container">
   <h1>
        Nem hiszed? <span class="derivald">Deriváld le!</span>

   </h1>

    <form method="post">
        <fieldset> 
            @*<label for="derivativeInput">f(x) = </label>*@
            <div class="derivative-wrapper">
                <input class"derivative-input" type="text" name="derivativeInput" value="" />
                <label>&nbsp;</label>
                <input type="submit" value="Deriváljunk!" class="submit" />
            </div>
        </fieldset>
    </form>

    @{
        if (HttpMethods.IsPost(Request.Method))
        {

            string derivativeInput = Request.Form["derivativeInput"];

            string prettyInput = "";
            string prettySimplifiedInput = "";
            List<string> prettySteps;

            string derivativeOutput = "";
            string errorString = "";

            try 
            {
                derivativeOutput = DerivativeCalculator.DerivativeManager.DifferentiateString(derivativeInput, out prettyInput, out prettySimplifiedInput, out prettySteps);
            }
            catch (Exception e) 
            {
                errorString = e.Message;
            }   
            
            if (errorString == "") 
            {
                if (prettyInput != prettySimplifiedInput) {
                    <text>
                        $$ @prettyInput = @prettySimplifiedInput = @derivativeOutput $$
                    </text>
                }
                else
                {
                    <text>
                        $$ @prettySimplifiedInput = @derivativeOutput $$
                    </text>
                }
            }
            else 
            {
                <text>@errorString</text>          
            }
        }
    }

</div>
